<div class="blogs-wrapper contain-element">
  <p class="blogs-header lato-regular">Blogs</p>
  <p class="blogs-intro lato-regular">
    I don't write usually, but here it goes... (Read in-order for better
    experience😉)
  </p>

  <div class="blogs-container">
    @for (item of itemsList; track $index) {
    <div class="blog-element">
      <svg
        class="blog-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          d="M368.4 18.3L312.7 74.1 437.9 199.3l55.7-55.7c21.9-21.9 21.9-57.3 0-79.2L447.6 18.3c-21.9-21.9-57.3-21.9-79.2 0zM288 94.6l-9.2 2.8L134.7 140.6c-19.9 6-35.7 21.2-42.3 41L3.8 445.8c-3.8 11.3-1 23.9 7.3 32.4L164.7 324.7c-3-6.3-4.7-13.3-4.7-20.7c0-26.5 21.5-48 48-48s48 21.5 48 48s-21.5 48-48 48c-7.4 0-14.4-1.7-20.7-4.7L33.7 500.9c8.6 8.3 21.1 11.2 32.4 7.3l264.3-88.6c19.7-6.6 35-22.4 41-42.3l43.2-144.1 2.8-9.2L288 94.6z"
        />
      </svg>
      <div class="blog-element-container lato-regular">
        <div class="blog-element-title lato-bold" (click)="toggleBlog($index)">
          {{ item.title }}
          <svg
            class="toggle-icon"
            [class.rotated]="expandedBlogs[$index]"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <path
              d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
            />
          </svg>
        </div>

        <div class="blog-content" [class.expanded]="expandedBlogs[$index]">
          <ul class="blog-description-container">
            @for (desc of item.description; track $index) {
            <li class="blog-description-point">
              <p class="description-point-head lato-light">
                {{ desc.heading }}
              </p>
              <p class="description-point-content lato-regular">
                {{ desc.content }}
              </p>
            </li>
            }
            <p class="point-outro lato-light-italic">{{ item.conclusion }}</p>
          </ul>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="blogs-outro-container">
    <p class="blogs-outro lato-regular">
      Thanks to all the amazing people in my life. Thanks to all the good, bad
      and worse moments that made me the man I am today.
      <br /><br />
      And most importantly, thanks to ChatGPT and Grammarly for their
      contribution to my blogs.
    </p>
  </div>
</div>

<hr />
