.footer-wrapper {
  background-color: var(--grey-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    padding-bottom: 24px;
  }
}

.copyright-text {
  padding: 24px 8px;
  color: var(--grey-light);
}

.footer-social {
  display: flex;
  gap: 16px;
  padding: 0 8px;
}

.social-anchor {
  display: flex;
  gap: 4px;
  text-decoration: none;
  color: var(--blue-lighter);
  cursor: pointer;
  align-items: center;
  transition: color 0.2s ease;
}

.social-anchor:hover {
  color: var(--white);
}
.social-svg {
  height: 16px;
  width: 16px;
}
.social-text {
  font-size: 16px;
}
