.header-wrapper {
  background-color: var(--white);
  position: fixed;
  z-index: 9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.header-container {
  width: calc(min(1200px, 100vw));
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 24px;
  padding: 22px 16px 20px 16px;
}
.mobile-header-menu {
  display: none;
}
@media (max-width: 768px) {
  .header-menu {
    display: none;
  }
  .mobile-header-menu {
    display: block;
    position: relative;
  }
}

.menu-option {
  text-decoration: none;
  font-size: 20px;
  line-height: 150%;
  color: var(--grey-dark);
  transition: color 0.2s ease;
}

.menu-option:hover {
  color: var(--blue-normal);
}

.active-link-locator {
  border: 2px solid var(--blue-normal);
  border-radius: 2px;
  transition: 0.3s ease;
}

.hide {
  display: none;
}

.active-link .hide {
  display: block;
}

.mobile-header-svg-container {
  padding: 24px;
  cursor: pointer;
}

.mobile-header-svg {
  width: 32px;
  height: 32px;
  fill: var(--blue-normal);
}

.mobile-header-list-container {
  position: absolute;
  width: 144px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  transform: translate(-64px, 0);
  transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mobile-menu-option {
  text-decoration: none;
  padding: 16px;
  border-bottom: 1px solid var(--blue-normal);
  color: var(--blue-normal);
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .active-link {
    background-color: var(--blue-normal);
    color: var(--blue-light);
  }
}

.hide-mobile {
  display: none;
  transition: 0.3s ease;
}

.header-hr {
  margin-top: 76px;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .header-hr {
    margin-top: 84px;
  }
}
