.header-wrapper {
  background-color: var(--background-primary);
}

.header-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 24px;
  padding: 24px 16px;
}

.menu-option {
  text-decoration: none;
  font-size: 20px;
  line-height: 125%;
  color: var(--header-text);
}
