<div class="header-wrapper contain-element">
  <div class="header-container">
    <div class="header-menu lato-black">
      <a class="menu-option" routerLink="/home" routerLinkActive="active-link"
        >About
        <hr class="active-link-locator hide"
      /></a>
      <a class="menu-option" routerLink="/blogs" routerLinkActive="active-link"
        >Blogs
        <hr class="active-link-locator hide"
      /></a>
      <a
        class="menu-option"
        routerLink="/teachings"
        routerLinkActive="active-link"
        >Teachings
        <hr class="active-link-locator hide"
      /></a>
      <a
        class="menu-option"
        routerLink="/certifications"
        routerLinkActive="active-link"
        >Certifications
        <hr class="active-link-locator hide"
      /></a>
      <a
        class="menu-option"
        routerLink="/projects"
        routerLinkActive="active-link"
        >Projects
        <hr class="active-link-locator hide"
      /></a>
    </div>
  </div>
</div>

<hr />
