.work-wrapper {
  padding: 40px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue-lighter);
}

.header {
  font-size: 36px;
  color: var(--blue-normal);
}

.timeline-container {
  display: flex;
  flex-direction: column;
  width: calc(min(768px, 100vw));
}

.timeline-element {
  display: flex;
  gap: 40px;
  padding: 16px 48px;
}
.timeline-element-container {
  width: calc(min(100vw, 640px));
}
@media (max-width: 768px) {
  .timeline-element {
    padding: 16px;
    gap: 16px;
  }
}

.timeline-icon {
  height: 32px;
  width: 24px;
  fill: var(--blue-normal);
}

.timeline-element-time {
  font-size: 16px;

  line-height: 32px;
  font-style: italic;
}

.timeline-element-content {
  padding: 2px;
  border-radius: 4px;
}
.timeline-element-title {
  font-size: 24px;
  line-height: 150%;
  color: var(--blue-normal);
  text-decoration: none;
}
.timeline-element-desc {
  margin-left: 20px;
  color: var(--grey-dark);
  font-weight: 300;
  line-height: 20px;
}
