.skills-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.heading {
  font-size: 36px;
  align-self: center;
  padding: 24px;
  color: var(--text-secondary);
}

.skills-container {
  width: calc(min(768px, calc(100vw - 32px)));
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
}

.skills-title {
  font-size: 24px;
  font-style: italic;
  color: var(--header-text);
  margin-bottom: 8px;
}

.skill-set {
  width: calc(min(768px, calc(100vw - 32px)));
  margin: 0 auto;
  margin-bottom: 16px;
}

.skill {
  display: inline-block;
  padding: 4px 8px;
  background-color: var(--background-grey);
  margin: 16px 8px;
}
