.skills-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--white);
  padding: 24px 0;
}

.heading {
  font-size: 36px;
  align-self: center;
  padding: 24px;
  color: var(--grey-dark);
}

.skills-container {
  width: calc(min(768px, calc(100vw - 32px)));
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
}

.skills-title {
  font-size: 24px;
  font-style: italic;
  color: var(--blue-normal);
  margin-bottom: 8px;
}

.skill-set {
  width: calc(min(768px, calc(100vw - 32px)));
  margin: 0 auto;
  margin-bottom: 16px;
}

.skill {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--blue-lighter);
  margin: 8px 4px;
  border-radius: 20px;
  color: var(--blue-dark);
  font-size: 14px;
}
