.projects-container {
  width: calc(min(768px, 100vw - 16px));
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project-container {
  border-radius: 4px;
  border-bottom: 1px solid var(--header-text);
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-text);
  padding: 20px;
  border-radius: 4px;
  color: var(--background-primary);
}

.content-container {
  background-color: var(--background-primary);
}

.project-desc {
  padding: 12px 24px;
}

.skill-container {
  margin: 0 auto;
  text-align: center;
}

.project-skill {
  display: inline-block;
  padding: 4px 8px;
  margin: 4px 8px;
  background-color: var(--background-grey);
}

.source-code {
  display: block;
  padding: 16px 8px;
  width: fit-content;
  margin: 0 auto;
  text-decoration: none;
  cursor: pointer;
  color: var(--background-secondary);
}
