.aboutme-container {
  padding: 48px 48px 48px 8px;
  display: flex;
  gap: 48px;
  width: calc(min(700px, 100vw));
  margin: 0 auto;
}
@media (max-width: 768px) {
  .aboutme-container {
    flex-direction: column;
    padding: 32px;
  }
}

.aboutme-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutme-image {
  width: 220px;
  border-radius: 100%;
}

.aboutme-content {
  font-size: 16px;
  font-weight: 300;
}
