<div class="contain-element">
  <div #aboutme class="aboutme-container">
    <div class="aboutme-heading-container">
      <img class="aboutme-image" src="images/arun.jpg" alt="arun.jpg" />
    </div>
    <p class="aboutme-content lato-regular">
      Hey there! I'm Arun Sakthi Anand, a Full Stack Developer at Air India,
      where I craft seamless web experiences using Spring Boot and Angular.
      Before joining the aviation tech world, I graduated with a degree in
      Electrical Engineering from IIT Hyderabad.
      <br /><br />
      When I’m not coding, you’ll find me on the football field or watching a
      match, cheering on my favorite teams. My journey from circuits to code has
      been an exciting one, and I'm passionate about blending technology with
      creativity.
      <br /><br />
      Always eager to innovate and improve, I love discussing new ideas and tech
      solutions. Let’s connect and create something amazing together!
    </p>
  </div>
</div>

<hr />
